.chatbot-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 120px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;

    min-height: 800px ;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .chat-history {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    height:auto;
  }
  
  .chat-bubble {
    max-width: 75%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 16px;
    line-height: 1.4;
  }
  
  .user {
    background-color: #8fafeb;
    align-self: flex-end;
    color: #333;
  }
  
  .bot {
    background-color: #f1f0f0;
    align-self: flex-start;
    color: #333;
  }
  
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #1c527e;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #8fafeb;
    color: black;
  }
  